@mixin mq-mobile {
  @media screen and (min-width: $mq-mobile) {
    @content;
  }
}

@mixin mq-tablet {
  @media screen and (min-width: $mq-tablet) {
    @content;
  }
}

@mixin mq-desktop {
  @media screen and (min-width: $mq-desktop) {
    @content;
  }
}

@mixin btn-active ($color){
  background-color: $color;
  border: none;
  pointer-events: none;
}