@import './mixins';

%mercury-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 23.2638%;
    top: 32.03%;
    transform: translate(40%, 113%);
  }
  @include mq-tablet {
    background-size: cover;
    width: 103.342px;
    height: 126.166px;
    left: 38.15%;
    top: 29.88%;
    transform: translate(39%, 113%);
    }
}
%venus-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    height: 199px;
    width: 163px;
    left: 19.44%;
    top: 26.66%;
    transform: translate(73%, 140%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 33.59%;
    top: 26.56%;
    transform: translate(72%, 140%);
    }
}
%earth-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 17.71%;
    top: 24.22%;
    transform: translate(89%, 154%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 31.51%;
    top: 25%;
    transform: translate(88%, 153%);
    }
}
%mars-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 21.67%;
    top: 29.78%;
    transform: translate(54%, 125%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 36.197%;
    top: 28.515%;
    transform: translate(54%, 124%);
    }
}
%jupiter-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 13.12%;
    top: 17.77%;
    transform: translate(128%, 187%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 26.041%;
    top: 20.898%;
    transform: translate(129%, 187%);
  }
}
%saturn-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 10.20%;
    top: 15.22%;
    transform: translate(155%, 200%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 22.526%;
    top: 18.261%;
    transform: translate(154%, 200%);
  }
}
%uranus-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 17.43%;
    top: 23.83%;
    transform: translate(91%, 160%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 31.25%;
    top: 24.7%;
    transform: translate(92%, 155%);
    }
}
%neptune-surface {
  position: absolute;
  background-size: cover;
  @include mq-desktop {
    width: 163px;
    height: 199px;
    left: 17.71%;
    top: 24.22%;
    transform: translate(88%, 153%);
  }
  @include mq-tablet {
    width: 103.342px;
    height: 126.166px;
    left: 30%;
    top: 25%;
    transform: translate(88%, 154%);
    }
}