// fonts
%h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 80px;
  line-height: 103px;
}
%h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}
%h3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  font-weight: bold;
}
%h4 {
  font-family: 'League Spartan', sans-serif;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}
%body {
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;
}