// colors

$white: #FFFFFF;
$black: #070724;
$grey: #38384F;
$light-grey: #838391;
$light-blue: #419EBB;
$yellow: #EDA249;
$purple: #6D2ED5;
$orange: #D14C32;
$red: #D83A34;
$orange-mat: #CD5120;
$green: #1EC1A2;
$blue: #2D68F0;

// breakpoints

$mq-mobile: 400px;
$mq-tablet: 769px;
$mq-desktop: 1441px;