@import '../../styles/vars';
@import '../../styles/mixins';

html,body {
  margin: auto;
}
.App {
  height: 100vh;
  background-color: $black;
  background-image: url('../../assets/background-stars.svg');
  position: relative;

  @include mq-mobile {
    height: 950px
  }
}