@import '../../styles/vars';
@import '../../styles/placeholders';
@import '../../styles/mixins';

.header__title {
  position: absolute;
  width: 109px;
  height: 36px;
  left: 2.22%;
  top: 2.15%;
  font-family: 'Antonio';
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
}
.header__planetNames {
  @extend %h4;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 665px;
  height: 6.35%;
  right: 2.78%;
  top: 0%;
}
.header__patternDivider {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0%;
  top: 8.3%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.planetLink {
  mix-blend-mode: normal;
  color: rgb(255, 255, 255, 0.5);
  text-decoration: none;
  padding-top: 33px;
  height: 100%;
  position: relative;

  &--0:focus {
    border-top: solid 3px $light-blue;
  }
  &--1:focus {
    border-top: solid 3px $yellow;
  }
  &--2:focus {
    border-top: solid 3px $purple;
  }
  &--3:focus {
    border-top: solid 3px $orange;
  }
  &--4:focus {
    border-top: solid 3px $red;
  }
  &--5:focus {
    border-top: solid 3px $orange-mat;
  }
  &--6:focus {
    border-top: solid 3px $green;
  }
  &--7:focus {
    border-top: solid 3px $blue;
  }
}
.planetLink:focus {
  color: white;
  padding-top: 30px;
}
