@import '../../styles/vars';
@import '../../styles/placeholders';
@import '../../styles/mixins';

.planetStats {
  position: absolute;
  top: 82.03%;
  left: 11.46%;
  display: flex;
  justify-content: space-between;
  width: 77.083%;
  height: 12.5%;
}
.planetStats__card {
  width: 22.97%;
  border: solid 1px rgb(255, 255, 255, 0.2);
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15.625%;
  left: 9.02%;
  height: 59.375%;
}
.card__title {
  @extend %h4;
  color: rgb(255, 255, 255, 0.2);
}
.card__stat {
  @extend %h2;
}