@import '../../styles/vars';
@import '../../styles/placeholders';
@import '../../styles/mixins';

.planetStats {
  display: flex;
  justify-content: space-between;
  @include mq-desktop {
    position: absolute;
    top: 82.03%;
    left: 11.46%;
    width: 77.083%;
    height: 12.5%;
  }
  @include mq-tablet {
    position: absolute;
    top: 87.89%;
    left: 5.078%;
    width: 89.71%;
    height: 8.593%;
  }
}
.planetStats__card {
  width: 22.97%;
  border: solid 1px rgb(255, 255, 255, 0.2);
  position: relative;
  @include mq-tablet {
    width: 23.802%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15.625%;
  left: 9.02%;
  height: 59.375%;
}
.card__title {
  @extend %h4;
  color: rgb(255, 255, 255, 0.2);
}
.card__stat {
  @extend %h2;
}