@import '../Header.scss';
@import '../../../styles/mixins';

.mobileMenu {
  background-image: url('../../../assets/icon-hamburger.svg');
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  width: 24px;
  height: 17px;
  @include mq-desktop {
    display: none;
  }
  @include mq-tablet {
    display: none;
  }
}